# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.local

# Test outputs
test-output/
